[submodule "emacs-live-packs/e2wm-pack"]
	path = emacs-live-packs/e2wm-pack
	url = https://github.com/EricGebhart/e2wm-pack.git
[submodule "emacs-live-packs/eproject-pack"]
	path = emacs-live-packs/eproject-pack
	url = https://github.com/EricGebhart/eproject-pack
[submodule "emacs-live-packs/evilmode-pack"]
	path = emacs-live-packs/evilmode-pack
	url = https://github.com/EricGebhart/evilmode-pack.git
[submodule "emacs-live-packs/cyclebufs-pack"]
	path = emacs-live-packs/cyclebufs-pack
	url = https://github.com/EricGebhart/cyclebufs-pack.git
[submodule "emacs-live"]
	path = emacs-live
	url = https://github.com/overtone/emacs-live.git
[submodule "emacs-live-packs/helm-ctags-pack"]
	path = emacs-live-packs/helm-ctags-pack
	url = https://github.com/EricGebhart/helm-ctags-pack.git
[submodule "emacs-live-packs/install-packages-pack"]
	path = emacs-live-packs/install-packages-pack
	url = https://github.com/ardumont/install-packages-pack.git
[submodule "emacs-live-packs/clojurescript-pack"]
	path = emacs-live-packs/clojurescript-pack
	url = https://github.com/ardumont/clojurescript-pack.git
[submodule "emacs-live-packs/eproject"]
	path = emacs-live-packs/eproject
	url = https://github.com/EricGebhart/eproject-pack.git
[submodule "emacs-live-packs/solarized-pack"]
	path = emacs-live-packs/solarized-pack
	url = https://github.com/siancu/solarized-pack.git
[submodule "emacs-live-packs/theme-pack"]
	path = emacs-live-packs/theme-pack
	url = https://github.com/EricGebhart/theme-pack.git
[submodule "emacs-live-packs/personal-pack"]
	path = emacs-live-packs/personal-pack
	url = https://github.com/EricGebhart/personal-pack.git
[submodule "emacs-live-packs/elpy-pack"]
	path = emacs-live-packs/elpy-pack
	url = https://github.com/EricGebhart/elpy-pack.git
